# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: UniPD VRJams
email: martino.trapanotto@studenti.unipd.it
description: >- # this means to ignore newlines until "baseurl:"
  The official website for the UniPD VRJams! coming soon to a department near you (maybe)
baseurl: "" # the subpath of your site, e.g. /blog
github_username:  unipd-vrjams
domain: unipd-vrjams.github.io       # if you want to force HTTPS, specify the domain without the http at the start, e.g. example.com
url: https://unipd-vrjams.github.io  # the base hostname and protocol for your site, e.g. http://example.com
baseurl: /


# Build settings
remote_theme: just-the-docs/just-the-docs
#theme: minima


lsi: false
safe: true
#source: [your repo's top level directory]
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge

# just the docs settings
color_scheme: dark

aux_links:
  "GitHub":
    - "//github.com/just-the-docs/just-the-docs"

nav_external_links:
  - title: Help us on GitHub
    url: https://github.com/UniPD-VRJams/unipd-vrjams.github.io
    hide_icon: false # set to true to hide the external link icon - defaults to false
  - title: Telegram
    url: https://t.me/+5655SjYy_DBjZWZk
    hide_icon: false # set to true to hide the external link icon - defaults to false

# Back to top link
back_to_top: true
back_to_top_text: "Back to top"

# Callouts need to be defined
callouts:
  warning:
    title: Warning
    color: red
  note:
    title: Note
    color: grey-lt

exclude:
 - README.md
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
